body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/background_site.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-group {
    display: block;
    margin-bottom: 10px;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #ffffff;
}

label, input, button, p {
    margin-top: 10px;
    font-size: 16px;
}

input, button {
    padding: 5px;
}

button {
    cursor: pointer;
}

#resultado {
    font-weight: bold;
    margin-top: 20px;
}